.form-container{
    display: flex;
    flex-direction: column;
    background-color: var(--text4);
    width: 30rem;
    height:fit-content;
    border-radius: 10px;
    padding:5rem;
    justify-content: center;
    margin-top: 5rem;
}

.form-container .progress-bar{
    display: flex;
    margin:0 5rem;
    justify-content: space-between;
}

.progress-bar .stage{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
    align-items: center;
}

.progress-bar .stage-btn{
    font-size: 1.2rem;
    width: 3.2rem;
    padding: 0.8rem;
    color: var(--text4);
    font-weight: 400;
    background-color: var(--primary1);
    border: 1px solid var(--primary1);
    border-radius: 100%;
}

.form-header p{
    color:var(--text2);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.input-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.input-container .plan-field{
    padding: 1rem;
    border:3px solid var(--text3);
    border-radius: 10px;
}

.input-container input[type="radio"],input[type="checkbox"]{
    width:20px;
    height:20px;
    border:2px solid var(--text3);
    /* border-radius: 50%; */
}

input[type="radio"]:checked {
    background-color: var(--text3);
    border-color: var(--text3);
  }
  
  .round-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
  
  }

  input[type="text"]{
    cursor: pointer;
  }
  
  