:root{
    font-family: 'Arial';
}

.content-container{
    display: flex;
    height: fit-content;
    padding:1rem;
    justify-content: space-evenly;
    background-image: url("./assets/background/BackGround.jpg");
}

.left-content-container  {
    display: flex;
    flex-direction: column;
    color:var(--text1);
    margin:2rem 5rem;
    /* width:20rem; */
}

.right-container{
    display: flex;
}

@media screen and (min-width:680px) and (max-width:1151px) {
    .content-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
}