:root{
    font-family: 'Arial';
}

.content-container{
    display: flex;
    height: 100vh;
    padding:1rem;
    justify-content: space-evenly;
    background-image: url("./assets/background/BackGround.jpg");
}

.left-content-container  {
    display: flex;
    flex-direction: column;
    color:var(--text1);
    margin:2rem 5rem;
    /* width:20rem; */
}