:root {
  --text1: #D9D9D9;
  --text2: #3C4852;
  --text3: #BEBEBE;
  --text4: #FFFFFF;
  --alertText: #DE4313;
  --alertFill: #715B4D;
  --alertBorder: #EA7432;
  --disabled: #E7E7E7;
  --success: #47BA68;
  --success2: #D7EDDD;
  --danger1: #F77171;
  --danger2: #FF0000;
  --primary1: #0096FF;
  --primary2: #006FFF;
}